.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1070px) {
  .container {
    width: 1070px;
  }
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --text-color: #000;
  --blue: #00bff3;
  --grey: #777;
  --white: #fff;
  --hover: #cb0000;
}

.header {
  background: var(--blue);
  padding: 30px 0;
}

.header__direction {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__direction p {
  font-size: 16px;
  color: var(--white);
  line-height: 1.15;
  width: 149px;
}
.header__direction p:nth-child(3) {
  font-size: 30px;
  margin: 0 27px 0 178px;
  width: 196px;
}
.header__direction a {
  color: var(--white);
  font-size: 16px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 47px;
}

.header__logo {
  margin-right: 22px;
}

.header__social-direction {
  display: flex;
  gap: 10px;
}

.hero {
  padding: 24px 55px;
}

.hero__rating-direction {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero__rating-direction p {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  line-height: 1.16;
  font-weight: bold;
}
.hero__rating-direction a {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 35px;
  line-height: 1.16;
  font-weight: bold;
  color: var(--text-color);
  border-bottom: 1px solid #E5E5E5;
  text-decoration: none;
  margin-right: 20px;
}
.hero__rating-direction a:hover, .hero__rating-direction a:focus {
  color: var(--hover);
  border-bottom: 1px solid #CB0000;
}

.hero__star-direction {
  display: flex;
  gap: 3px;
  margin: 23px 20px 42px 0;
}
.hero__star-direction li:nth-child(6) {
  margin-right: 20px;
}

.hero__feedbackrait-direction {
  display: flex;
}
.hero__feedbackrait-direction h3 {
  font-weight: normal;
  font-size: 14px;
}
.hero__feedbackrait-direction p {
  font-size: 14px;
  font-weight: bold;
}
.hero__feedbackrait-direction li:nth-child(1) {
  margin-right: 35px;
}
.hero__feedbackrait-direction li:nth-child(2) {
  background: var(--blue);
  margin-right: 24px;
  padding: 12px 7px;
}
.hero__feedbackrait-direction li:nth-last-child(-n+4) {
  margin-right: 16px;
}

.hero__many-days {
  width: 160px;
  font-size: 30px;
  line-height: 1.03;
}
.hero__many-days span {
  font-size: 88px;
  font-weight: bold;
  line-height: 1.16;
  color: var(--grey);
}

.many-days__indent {
  display: flex;
  justify-content: space-between;
}

.price {
  padding: 0 0 67px 0;
}

.price__direction {
  display: flex;
  gap: 40px;
}
.price__direction a {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: var(--text-color);
  border-bottom: 1px solid #E5E5E5;
  text-decoration: none;
}
.price__direction a:hover, .price__direction a:focus {
  color: var(--hover);
  border-bottom: 1px solid #CB0000;
}
.price__direction h2 {
  display: flex;
  margin: 24px 11px;
  justify-content: space-between;
  font-size: 35px;
}

.price__sale {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.price__sale span {
  color: var(--grey);
}
.price__sale span::before {
  display: flex;
  content: "";
  width: 30px;
  height: 1px;
  background: var(--hover);
  position: absolute;
  top: 50%;
  left: 95%;
}

.info {
  padding-bottom: 44px;
}
.info h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.04;
  margin-bottom: 7px;
}
.info h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-weight: 1.15;
  margin-bottom: 7px;
}
.info h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 15;
  margin-bottom: 7px;
}
.info span {
  line-height: 1.38;
  font-weight: bold;
}
.info p {
  font-weight: normal;
  margin-bottom: 20px;
}

.water {
  display: flex;
  position: relative;
  align-items: center;
  font-style: oblique;
  margin-left: 60px;
  width: 704px;
}
.water::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 120px;
  background: var(--blue);
  margin-left: -16px;
}

.short {
  display: flex;
  width: 776px;
}

.info__find-answear__wrapper {
  display: flex;
  position: relative;
}
.info__find-answear__wrapper h3 {
  font-size: 22px;
  line-height: 1.15;
  font-weight: bold;
  margin: 29px 0 5px 0;
}
.info__find-answear__wrapper p {
  line-height: 1.38;
}

.info__find-answear__wrapper__health-man {
  position: absolute;
  right: 0;
  bottom: 100px;
  width: 227px;
  text-align: start;
}
.info__find-answear__wrapper__health-man p:nth-child(1) {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.16;
  margin-bottom: 4px;
  color: var(--grey);
}
.info__find-answear__wrapper__health-man p:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.03;
  display: flex;
  width: 227px;
  margin-bottom: 8px;
}
.info__find-answear__wrapper__health-man p:nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.26;
  color: var(--grey);
}

.info__find li {
  margin-left: 7px;
}

.footer {
  padding: 16px 0;
}

.footer__direction {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__direction::before {
  display: flex;
  justify-content: center;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: -16px;
  background: var(--grey);
}
.footer__direction p {
  font-size: 12px;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}
.footer__direction a {
  color: rgb(0, 191, 243);
  text-decoration: none;
  margin-left: 3px;
}
.footer__direction a:hover, .footer__direction a:after {
  color: var(--hover);
}

.footer__description {
  display: flex;
  margin-right: 1px;
}

.footer__social-direction {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */