.header {
    background: var(--blue);
    padding: 30px 0;
}

.header__direction {
    display: flex;
    align-items: center;
    justify-content: center;
    

    & p {
        font-size: 16px;
        color: var(--white);
        line-height: 1.15;
        width: 149px;  
             
    }

    & p:nth-child(3) {
        font-size: 30px;
        margin: 0 27px 0 178px;        
        width: 196px;        
    }

    & a {
        color: var(--white);
        font-size: 16px;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
        text-decoration: none;
        margin-right: 47px;
    }
}

.header__logo {
    margin-right: 22px;
}

.header__social-direction {
    display: flex;
    gap: 10px;
}