.header {
    background: var(--blue);
    padding: 30px 0;
}

.header__direction {
    display: flex;    
    justify-content: space-between;    

    @media screen and (min-width: 320px) {
        align-items: flex-end;
    }

    @media screen and (min-width: 768px) {
        align-items: center;
    }    

    & a {
        display: flex;           
        color: var(--white);            
        font-size: 16px;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
        @media screen and (min-width: 320px) {
                top: 30px;
                right: 10px;
                position: absolute;
            }
        
            @media screen and (min-width: 768px) {
                display: flex;
                position: relative;
                top: 0;
                right: 0;
                margin-left: 87px;
            }
        
            @media screen and (min-width: 1070px) {
                margin-left: 0;
        
            }        

        &:hover,
            &:focus {
                top: 2px;
                border-bottom: 2px dashed var(--hover);
                color: var(--hover);        
            }           
    }    
}

.header__description {        
    & p {
            font-size: 16px;
            color: var(--white);
            line-height: 1.15;
            width: 149px;                      
        }
       
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;            
        }    
    
        & p:nth-child(3) {
            font-size: 30px;            
            width: 196px;
                           
            @media screen and (min-width: 320px) {
                display: none;
            }        
            
            @media screen and (min-width: 1070px) {
                display: flex;
                margin-right: 27px;
                margin-left: 140px;                
            }            
        }        
}

.header__logo {    

    @media screen and (min-width: 320px) {
        display: flex;
        width: 140px;
        margin-right: 0;
    }    

    @media screen and (min-width: 480px) {
        margin-right: 22px;
        width: 179px;
    }
}

.header__social-direction {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;       
}

