.hero {       

   @media screen and (min-width: 320px) {
    padding: 24px 0;
   }

   @media screen and (min-width: 1070px) {
    padding: 24px 55px;
   }

   & img {

    width: 100%;
    margin: 0 auto;
        @media screen and (min-width: 320px) {        
            height: 220px;
        
        }

        @media screen and (min-width: 768px) {        
            height: 390px;
        }

        @media screen and (min-width: 1070px) {            
            height: 533px;
        }
   }   
}

.hero__rating-direction {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    & p {
        font-family: "Trebuchet MS", Arial, sans-serif;
        font-size: 35px;
        line-height: 1.16;
        font-weight: bold;
    }   

    & a {
        font-family: "Trebuchet MS", Arial, sans-serif;
            font-size: 35px;
            line-height: 1.16;
            font-weight: bold;
        color: var(--text-color);
            border-bottom: 1px solid #E5E5E5;
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover,
                &:focus {
                    color: var(--hover);
                    border-bottom: 1px solid #CB0000;
                }
    }    
}

.hero__star-direction {
    display: flex;
    gap: 20px;
    margin: 23px 20px 42px 0 ; 
    
    @media screen and (min-width: 320px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1070px) {
        flex-direction: row;
    }
}

.star-line {
    display: flex;
    gap: 2px;
}

.feedback-line {
    flex-basis: calc((100% - 10px) / 2);    
}

.hero__feedbackrait-direction {
    display: flex;    

    @media  screen and (min-width: 320px) {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;       
    }

    @media screen and (min-width: 768px) {        
        flex-wrap: nowrap;
    }

    @media screen and (min-width: 1070px) {
        width: auto;
    }

    & h3 {
        font-weight: normal;
        font-size: 14px;
    }

    & p {
        font-size: 14px;
        font-weight: bold;
    }

   & li:nth-child(1) {
        
        @media screen and (min-width: 320px) {
            margin-right: 0;
        }

        @media screen and (min-width: 768px) {
            margin-right: 35px;
        }
   }

    & li:nth-child(2) {
        background: var(--blue);        
        padding: 12px 7px;

        @media screen and (min-width: 320px) {
            margin-right: 0;
        }

        @media screen and (min-width: 768px) {
            margin-right: 24px;
        }
    }

    & li:nth-last-child(-n+4) {      

        @media screen and (min-width: 320px) {
            margin-right: 0;
        }

        @media screen and (min-width: 768px) {
            margin-right: 16px;
        }
    }
}

 .hero__many-days {
    width: 160px;     
    line-height: 1.03;
    position: absolute;
    text-align: center;

     @media screen and (min-width: 320px) {        
        right: 0;
        top: 50%;
        font-size: 25px;
     }

     @media screen and (min-width: 480px) {       
        right: 0;
        top: 37%;
     }

     @media screen and (min-width: 768px) {
        font-size: 30px;
        top: 48%;
        right: 10%;
     }

     @media screen and (min-width: 1070px) {
        top: 42%;
        right: 25%;
     }
     //====//
     
     & span {         
         font-weight: bold;
         line-height: 1.16;
         color: var(--grey);

         @media screen and (min-width: 320px) {
            font-size: 68px;            
         }

         @media screen and (min-width: 768px) {
            font-size: 88px;
         }
     }
 }

 .many-days__indent {
    display: flex;
    justify-content: space-between;   
 }

