.info {
    
    padding-bottom: 44px;

    & h2 {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 1.04;
        margin-bottom: 7px;
    }

    & span {
        line-height: 1.38;
        font-weight: bold;
               
    }

    & p:nth-child(2) {
        font-weight: normal;
        margin-top: 26px;
        
    }
}

.short {
    display: flex;
    width: 776px;
}

.info__find-answear__wrapper {
    display: flex;

    & h3 {
        font-size: 22px;
        line-height: 1.15;
        font-weight: bold;
        margin: 29px 0 5px 0;
    }

    & p {
        line-height: 1.38;
    }
}




.info__find {
    & li {
        margin-left: 7px;
    }
    
}