.info {    
    padding-bottom: 44px;

    & h2 {
        font-family: "Trebuchet MS", sans-serif;        
        font-size: 50px;
        font-weight: 700;
        line-height: 1.04;
        margin-bottom: 7px;

        @media screen and (min-width: 320px) {
            font-size: 40px;            
        }

        @media screen and (min-width: 480px) {
            font-size: 50px;
            width: 350px;
        }

        @media screen and (min-width: 768px) {
            width: 50vw;
        }

        @media screen and (min-width: 1070px) {
            width: auto;
        }
    }

    & h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-weight: 1.15;
        margin-bottom: 7px;
    }

    & h4 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 1,15;
        margin-bottom: 7px;
    }

    & span {
        line-height: 1.38;
        font-weight: bold;                     
    }

    & p {
        font-weight: normal;
        margin-bottom: 20px;        
    }
}

.water {  
    display: flex;
    position: relative;   
    align-items: center; 
    font-style: oblique;
    
    
    @media screen and (min-width: 320px) {
        margin-left: 30px;
        width: 260px;
    }

    @media screen and (min-width: 768px) {
        width: 450px;        
    }

    @media screen and (min-width: 1070px) {
        width: 704px;
        margin-left: 60px;
    }

    &::before {         
        position: absolute;
        content: "";
        width: 8px;      
        height: 110%;
        background: var(--blue);
        margin-left: -16px;        
    }
}

.short {
    display: flex;   

    @media screen and (min-width: 320px) {
        width: 290px;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1070px) {
        width: 776px;
    }
}

.info__find-answear__wrapper {
    display: flex;
    position: relative;

    @media screen and (min-width: 320px) {
        display: block;        
    }

    & h3 {
        font-size: 22px;
        line-height: 1.15;
        font-weight: bold;
        margin: 29px 0 5px 0;
    }

    & p {
        line-height: 1.38;
    }
}

.info__find-answear__wrapper__health-man {    
    right: 0;
    bottom: 100px;    
    text-align: start;

    @media screen and (min-width: 320px) {
        position: static;
        width: 290px;       
    }

    @media screen and (min-width: 480px){
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 227px;
        position: absolute;
    }

    & p:nth-child(1) {
        font-family: "Trebuchet MS", sans-serif;
        font-weight: bold;
        font-size: 100px;    
        line-height: 1.16; 
        margin-bottom: 4px; 
        color: var(--grey);
    }

    & p:nth-child(2) {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 1.03;
        display: flex;        
        margin-bottom: 8px;

        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 768px) {
            width: 227px;
        }
    }

    & p:nth-child(3) {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.26;
         color: var(--grey);
    }
}

.info__find {
    & li {
        margin-left: 7px;
    }    
}

.info__table__ {    
    display: flex;
    flex-wrap: wrap;        
    word-break: break-all;

    @media screen and (min-width: 320px) {
        width: 290px;  
        margin-bottom: 27px;
    }

    @media screen and (min-width: 480px) {
        width: 450px;        
    }

    @media screen and (min-width: 768px) {
        width: 738px;
    }    

    @media screen and (min-width: 1070px) {
        width: 776px;
        margin-left: 0;
    }
       
    & li {
        display: flex;       
        flex-direction: column;
        flex-basis: calc(100% / 6); 
        font-size: 10px;       
        line-height: 1.5;   
        
        @media screen and (min-width: 320px) {
            width: 80px;
        }              
    }

    & li:nth-child(-n+6) {
        background: var(--grey);
        font-weight: bold;        
        line-height: 1.15;        
        padding: 10px 0 10px 0;        

        @media screen and (min-width: 320px) {
            font-size: 11px;
        }  
        
        @media screen and (min-width: 1070px) {
            font-size: 14px;
        }
    }

    & .twelve {        
        padding: 13px 0 13px 0;
        font-size: 10px;            
    }

    & li span {
      font-weight: bold;
      font-size: 10px;
    }
}

