.price {
    padding: 0 0 67px 0;
}

.price__direction {
    display: flex;
    gap: 40px;

    @media screen and (min-width: 320px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 20px;
    }

    @media screen and (min-width: 1070px) {
        gap: 40px;
    }
 
    & a {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 35px;
        font-weight: bold;
        color: var(--text-color);
        border-bottom: 1px solid #E5E5E5;
            text-decoration: none;
       
        &:hover,
        &:focus {
            color: var(--hover);
            border-bottom: 1px solid #CB0000;
        }
    }

    & h2 {
        display: flex;
        flex-wrap: wrap;
        margin: 24px 11px;
        justify-content: space-between;
        font-size: 35px;
    }

    & p {
        @media screen and (min-width: 320px) {
            margin-bottom: 10px;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    & img {
        @media screen and (min-width: 320px) {
            width: 90vw;  
            height: 220px;        
        }

        @media screen and (min-width: 768px) {
            width: 45vw;
            height: 280px;
        }

        @media screen and (min-width: 1070px) {
            width: 500px;
            height: 280px;
        }
    }
}

.price__sale {
    display: flex;
    justify-content: space-between;
    position: relative;

    & span {
        color: var(--grey);
    }

    & span::before {
        display: flex;
        content: "";
        width: 30px;
        height: 1px;
        background: var(--hover);
        position: absolute;
        
        @media screen and (min-width: 320px) {
            top: 30%;
            left: 91%;
        }

        @media screen and (min-width: 1070px) {
            top: 50%;
            left: 95%;
        }
    }
}